
.video-background {  
    position: fixed;  
    top: 0;  
    right: 0;  
    bottom: 0;  
    left: 0;  
    background: black;  
    z-index: -1;  
    overflow: hidden;  
}  
  
.video-background video {   
    width: 100%;  
    height: 100%;  
    position: absolute;  
    top: 0;  
    left: 0;  
    object-fit: cover; 
}
  
body {  
    font-family: Arial, sans-serif;  
    margin: 40px;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 100vh;  

}  
.query-interface {  

    background-color: #fff;  

    padding: 20px;  

    border-radius: 8px;  

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  

    width: 300px;  

    text-align: center; 

    position: relative;
    
    z-index: 1; 
}  

  

form {  

    margin-bottom: 20px;  

}  

  

label {  

    display: block;  

    margin-bottom: 5px;  

}  

  

input[type="text"] {  

    width: calc(100% - 22px);  

    padding: 10px;  

    margin-bottom: 10px;  

    border: 1px solid #ccc;  

    border-radius: 4px;  

}  

  

button {  

    padding: 10px 20px;  

    border: none;  

    background-color: #007bff;  

    color: white;  

    border-radius: 4px;  

    cursor: pointer;  

}  

  

button:hover {  

    background-color: #0056b3;  

}  

  

#results {  

    margin-top: 20px;  


}